<h2 class="title">Here I'll calculate the charge state masses of a given residue mass</h2>

<%= form_tag({}, method: :get, remote: true, id: 'calculation_entry') do %>
  <div id="entry_mass">
    <label for="entry_mass"> Enter residue mass: </label>
    <%= text_field_tag :entry_mass %>
  </div>
  <%= submit_tag "Calculate!" %>
<% end %>
<div id="output"> </div>
